@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  word-spacing: 2px;
}
img {
  width: 100%;
}

/* HEADER CSS STARTED */
.iconsop a {
  margin: 0;
}

body {
  font-size: 16px;
}

#logo.img {
  width: 100px;
  height: 100px;
}

.navbar-section {
  margin-bottom: 50px;
}

.navbar {
  padding: 2px;
}

.brand {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  margin-left: 30px;
}

.main-navbar .burger-menu {
  font-size: 2rem;
  padding: 5px;
}

.navbar img {
  width: 100px;
  height: auto;
}

.navbar-nav {
  margin-right: auto;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #000 !important;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
}

.navbar-2-links {
  margin-left: auto;
}

.navbar-2-links a {
  font-size: 1.6rem;
}
.iconsop {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.holding {
  align-items: center;
  justify-content: center;
}

.t11 {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}
.type {
  display: flex;
  justify-content: space-between;
}
.t1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid #d1cfc9 !important;
  font-family: 'Playfair Display', serif;
  color: #757575;
}
.t1 h3 {
  color: #000;
}
.i11 {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
  font-size: 0.8rem;
}
.i11 h3 {
  font-size: 1.3rem;
}
.image {
  margin: auto;
  padding: 0;
}
.image img {
  height: 330px;
}
.jumbo {
  background-color: #c8c0fa;
}
html {
  width: 100%;
}
.p1 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.25rem;
  font-size: 2rem;
}
.p2 {
  margin-top: 0.25rem;
  margin-left: 1rem;
  font-size: 1.6rem;
}
@media screen and (min-width: 578px) and (max-width: 992px) {
  .p1 {
    font-size: 1.2rem;
    margin-left: 0;
  }
  .p2 {
    font-size: 1rem;
    margin-left: 0;
  }
  .headerinside{
    margin-left: 0;
  }
}

@media screen and (max-width:578px) {
  .headerinside{
    display: none!important;
  }
}

@media screen and (max-width:600px) {
  .ptbr{
    display: none!important;
  }
}
@media (max-width: 800px) {
  .c1 {
    flex-basis: 50%;
  }
}

@media (max-width: 991px) {
  .navbar-2-links {
    margin: 0;
  }
  .iconsop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  i {
    margin: 0 1rem;
  }
  #ic {
    font-size: 24pt;
  }
}
@media (max-width: 575px) {
  .i11 {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 414px) {
  #tbr {
    display: none;
  }
  #logo {
    margin: auto;
  }
  .hb1 {
    margin: 0;
  }
}

.imagebox {
  background-color: grey;
}

.hmcard {
  display: flex;
  margin: 1rem;

  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(to bottom, #00ff99 0%, #ffff66 100%);
  padding: 3rem;
  height: 300px;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  word-spacing: 2px;
}
.footer1 {
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #c6cfc8;
  height: 130px;
  border-radius: 5px;
  font-weight: bolder;
}

.rowfooter1 {
  justify-content: space-around;
  align-items: center;
}

.footer2 {
  background-color: #c6cfc8;
  height: 130px;
  border-radius: 5px;
}
.icons {
  justify-content: space-between;
}
ul {
  list-style: none;
  padding: 0;
}
.footer3 {
  color: white;
  margin-top: 1rem;
  background-color: #343a40 !important;
  border-radius: 5px;
  height: 370px;
}

.footer4 {
  margin-top: 1rem;
  height: inherit;
  background-color: #c6cfc8;
  border-radius: 5px;
  height: 370px;
  flex-direction: column;
  justify-content: space-between;
}

.f4icons {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.f41 {
  justify-content: space-around;
}

.headerinside p {
  font-family: 'Playfair Display', serif;
}

.headerinside{
  margin-left: 1rem;
  flex-direction: column;
  align-items: flex-start;
  display: block;
}
.headertext p {
  font-family: 'Playfair Display', serif;
}
.filterhead {
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Playfair Display', serif;
}

.filterhead p {
  font-size: 1.4rem;
}
.filterhead a {
  font-size: 1rem;
}

.animation {
  display: none;
}
.image img:hover + .animation {
  display: block;
}
/* #an:hover + .animation{
  display: block!important;
} */

@media screen and (max-width:550px) {
  .header{
    font-size: small;
  }
  .t1 h3 {
    font-size: smaller;
  }
  .filterhead p{
    font-size: smaller;
  }
  .filterhead a{
    font-size: smaller;
  }
}
@media screen and (min-width:550px) {
  .header{
    font-size: large!important;
  }
}
@media only screen and (min-width: 360px) and (max-width: 540px) {
  .hm1 {
    align-self: center;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
  }
  .hmcard {
    align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .image img {
    height: 280px;
  }
  .i11 h3 {
    font-size: 1rem;
  }

  .t1 h3 {
    font-size: 1rem;
  }
  .filterhead p {
    font-size: 1rem;
  }
  .filterhead a {
    font-size: 0.7rem;
  }
  .headertext p {
    font-size: small;
  }
  .footer3 {
    height: 600px;
  }
  .footer4 {
    font-size: large;
    font-weight: bold;
  }
  .footer1 {
    height: 300px;
    align-items: center;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    margin: 1rem;
  }
  .f31 h5 {
    font-weight: bolder;
  }
  .f31 {
    text-align: center;
    font-size: large;
  }
  .f32 {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .f321 {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .f321 h5 {
    margin: 0;
  }
  .list1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer2 {
    text-align: center;
    margin: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  #tbf {
    display: none;
  }
  .f31 h5 {
    font-weight: bolder;
  }
  .f31 {
    text-align: center;
    font-size: large;
  }
  .f32 {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: large;
  }
  .ficon {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .f321 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer1 {
    height: 300px;
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 0.5rem;
  }
  .footer2 {
    justify-content: space-around;
    margin: 0.5rem;
  }
  .footer3 {
    height: 1100px;
  }
  .footer4 {
    text-align: center;
    font-size: large;
    font-weight: bold;
    height: 450px;
  }
}

@media only screen and (min-width: 280px) and (max-width: 320px) {
  .footer3 {
    height: 1150px;
  }
  .footer4 {
    font-size: small;
    font-weight: bold;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1125px) {
  .footer4 {
    font-size: small;
  }
}

@media only screen and (max-width: 280px) {
  .footer2 {
    justify-content: center;
    margin: 2px;
    text-align: center;
  }
  div.col-12.row.icons {
    margin: 0;
    justify-content: baseline;
    padding: 0;
  }
  .footer1 {
    margin: 2px;
  }
  .footer3 {
    height: 1150px;
  }
  .footer4 {
    height: 450px;
  }
}
@media only screen and (max-width: 991px) {
  #tbf {
    display: none;
  }
  #logo {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .headertext {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .toberem {
    display: none;
  }
  .inc {
    margin: 0.5rem;
    padding: 0;
    width: 80%;
  }
}
@media screen and (max-width: 280px) {
  .headertext {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .headertext h5 {
    font-size: small;
  }
  .toberem {
    display: none;
  }
  .inc {
    margin: 0.5rem;
    padding: 0;
    width: 80%;
  }
}

.jumbo {
  height: 280px;
}
.jumbo img {
  width: 50%;
  padding: 0;
}

@media screen and (max-width: 767px) {
  
  .jumbo {
    flex-direction: column;
    align-items: center;
  }
}
.headerinside {
  flex-direction: column;
  justify-content: center;
  margin-left: 45px;
}

@media screen and (max-width: 306px) {
  .headerinside h5 {
    font-size: xx-small;
  }
}

@media screen and (max-width: 374px) {
  .headerinside h5 {
    font-size: small;
  }
  .headertext h5 {
    font-size: small;
  }
}

.ui-widget-header {
  background: #000 !important;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.2em !important;
}

.ui-slider .ui-slider-handle {
  height: 1em !important;
  width: 1em !important;
}
