body {
  font-family: 'Playfair Display', serif;
}

img {
  width: 100%;
}
.categorytag {
  margin-top: 1rem;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid brown;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.26);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.circle:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.26);
}

.circle img {
  flex-grow: 1;
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.lastcontainerflex {
  padding-left: 2.5%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .circle {
    width: 130px;
    height: 130px;
  }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  .circle {
    width: 100px;
    height: 100px;
  }
  a h5 {
    font-size: smaller;
  }
}

@media screen and (max-width: 540px) {
  .categorytag {
    background-color: #c9d4cc;
    padding-top: 5px;
    margin: 5px;
  }
  .circle {
    width: 80px;
    height: 80px;
  }

  a h5 {
    font-size: smaller;
    font-weight: bold;
  }
  .circle img {
    margin-left: -40px;
  }
}

@media screen and (max-width: 450px) {
  .categorytag {
    background-color: #c9d4cc;
    margin: 5px;
    padding-top: 5px;
  }
  .circle {
    width: 70px;
    height: 70px;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
  a h5 {
    font-size: x-small;
    font-weight: bold;
  }
  .circle img {
    margin-left: -40px;
  }
}

.liked {
  background-image: url('./9.jpg');
  /* border-radius: 10px; */
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.26);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.liked:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.26);
}

.last {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.26);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.last:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.26);
}

.brand {
  background: linear-gradient(to bottom, #00ff99 0%, #ccff33 100%);
  height: 300px;
}

.lastcontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ibrand {
  background: linear-gradient(to bottom, #00ff99 0%, #ccff33 100%);
}
.last p {
  width: 20%;
  font-size: x-large;
  font-weight: bold;
  color: #fff;
  margin-top: 90%;
  margin-left: 22%;
  margin-bottom: 0;
}

/*main*/

@media screen and (min-width: 992px) {
  .trending {
    display: inline-block;
    height: 300px;
    background-color: cyan;
    border-radius: 2%;
    margin: 1%;
    width: 17%;
  }
  .ibrand {
    display: inline-block;
    height: 300px;
    width: 22%;
    background: linear-gradient(to bottom, #00ff99 0%, #ccff33 100%);
    margin: 1%;
  }
  .likedcontainer {
    width: 16%;
    display: inline-block;
    margin: 1.5%;
  }

  .likedcontainer p {
    font-size: smaller;
  }
  .last {
    width: 22%;
    background-image: url('./8.jpg');
    background-position: center;
    background-size: 100%;
    margin: 1%;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .ibrand {
    display: inline-block;
    height: 300px;
    width: 30%;
    margin: 1%;
  }

  .trending {
    display: inline-block;
    height: 300px;
    background-color: cyan;
    border-radius: 2%;
    margin: 1%;
    width: 30%;
  }
  .likedcontainer {
    padding: 0.5rem;
    font-size: small;
    width: 30%;
    display: inline-block;
    margin: 1%;
  }
  .liked {
    height: 300px;
  }

  .last {
    width: 30%;
    background-image: url('./8.jpg');
    background-position: center;
    background-size: 100%;
    margin: 1%;
  }
}
@media screen and (max-width: 690px) {
  .likedcontainer {
    padding: 0.5rem;
    width: 47%;
    display: inline-block;
    margin: 1%;
  }
  .liked {
    height: 300px;
  }
}
@media screen and (max-width: 575px) {
  .ibrand {
    display: inline-block;
    height: 300px;
    width: 47%;
    background: linear-gradient(to bottom, #00ff99 0%, #ccff33 100%);
    margin: 1%;
  }

  .trending {
    display: inline-block;
    height: 300px;
    background-color: cyan;
    border-radius: 2%;
    margin: 1%;
    width: 47%;
  }
  .last {
    width: 47%;
    background-image: url('./8.jpg');
    background-position: center;
    background-size: 100%;
    margin: 1%;
  }
}

.jumbo {
  background-color: #c8c0fa;
}

.jumbo img {
  margin: 0;
  padding: 0;
  height: 200px;
}

@media screen and (max-width: 632px) {
  .jumbo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .jumbo img {
    width: 60%;
  }
}

/* Swiper related css */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.productinfo {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 350px) {
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-left: 0;
    padding-right: 0;
  }
  .productinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eb80f2;
    margin-top: 0;
    padding-bottom: 0.25rem;
  }
  .trendingflex {
    background-color: #74b9f2;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .customerflex {
    background-color: #f6befa;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1%;
  }
  .topbrandflex {
    background-color: #f2b449;
    padding-left: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
  .lastcontainer {
    margin-top: 0.5rem;
  }
  .corouselimage {
    display: none;
  }
  .content {
    margin: 2rem auto;
  }
}

@media screen and (min-width: 700px) {
  .corouselimage{
    display: block;
  }
  .content {
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
  }
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-left: 15px;
    padding-right: 15px;
  }
  .swiper-button-prev {
    display: block;
  }
  .swiper-button-next {
    display: block;
  }
  .productinfo {
    align-items: flex-start;
    background-color: #fff;
  }

  .trendingflex {
    justify-content: space-around;
    align-items: center;
    padding-left: 2.5rem;
    background-color: #fff;
  }

  .topbrandflex {
    align-items: center;
    padding-left: 1.5%;
    background-color: #fff;
  }

  .customerflex {
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    background-color: #fff;
  }
}
@media screen and (max-width: 414px) {
  .productinfo p {
    font-size: small;
  }
}
